body {
  margin-left: 15%;
}

.ada {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.ad {
  width: 100%;
  margin-top: -15%;
}
img {
  width: 100%;
}
h1,
h2 {
  text-align: center;
}
nav div {
  list-style: none;
  font-size: 1.5em;
  background: gray;
  margin: 1px;
}
div a {
  color: white;
}

a {
  text-decoration: none;
}

.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}
.skillBox p {
  color: black;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}
.skill {
  background: white;
  box-sizing: border-box;
  border: 0.5px solid gray;
  border-radius: 10px;
}
.skill_level {
  border-radius: 10px;
  background: blue;
  width: 100%;
  height: 10px;
}

.fa-chevron-right {
  float: right;
}
